.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.dark2 {
  color: #474747;
}
.dark1 {
  color: #181818;
}
.dark3 {
  color: #757575;
}
.orange1 {
  color: #fd6e0a;
}
.bold {
  font-weight: bold;
}

/* First page section */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 230px;
  align-items: center;
}

.navname {
  font-size: 45px;
  font-weight: 800;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
}
nav li {
  list-style-type: none;
}
nav ul {
  display: flex;
  gap: 60px;
  align-items: center;
}

.btn-primary {
  background-color: #fd6e0a;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  border: none;
}
/* Section of banner */
.banner {
  display: flex;
  margin: 0px 23px 0px 230px;
  align-items: center;
  justify-content: space-between;
}
.banner-image {
  width: 584px;
  /* height: 674px; */
}
/* .bannertexts { */
/* height: 356px;
  width: 585px; */
/* } */
.bannergreet {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.bannername {
  font-weight: bold;
  font-size: 85px;
}
.bannerp {
  font-size: 18px;
  margin-top: 20px;
}

header div div button {
  margin-right: 40px;
  margin-top: 30px;
}

.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-size: contain, auto;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #fff8f3;
}

/* Aboutme section */

.section {
  /* display: flex; */
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 90px 120px;
  margin-top: 130px;
}

.about {
  max-width: 1140px;
  margin: 0 auto;
}
.about-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.about-para {
  font-size: 18px;
  text-align: center;
}
.about-items {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  text-align: center;
}

/* ...... skills text section start here */

.skills-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  /* border: #181818 solid; */
  margin: 130px 600px 50px 600px;
  /* width: 909px; */
}

.skillstitle {
  font-size: 35px;
  font-weight: 700;
}

.skillstext {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* skills icons and texts starts here */
.skills-icon-container {
  display: flex;
  /* border: #fd6e0a solid; */
  margin: 0px 500px;
  justify-content: space-around;
  gap: 24px;
  /* align-items: center;
  align-content: center; */
}
.skill1 {
  box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.06);
  padding: 30px 30px 30px 30px;
}
.skill2 {
  box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.06);
  padding: 30px 30px 30px 30px;
}
.skill3 {
  box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.06);
  padding: 30px 30px 30px 30px;
}
.skill4 {
  box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.06);
  padding: 30px 30px 30px 30px;
}

.skills-icon-container p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.skills-icon-container h3 {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}

/* ...... summary of resume begins here  */

.summary-toptext {
  /* border: #181818 solid; */
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
/* ...... resume columns begins */
.resume {
  display: flex;
  /* border: #181818 solid; */
  margin: 113px 450px 50px 450px;
  gap: 30px;
  
}

.resume h2 {
  color: #474747;
  font-size: 30px;
font-weight: 700;
}
.resume h3{
  color: #474747;
  font-size: 25px;
font-weight: 700;
}

.resume h4{
  color:#757575;
  font-size: 20px;
font-weight: 600;
}

.resume p{
  color: #757575;
  font-size: 16px;
font-weight: 400;
line-height: 28px;
}

.button-summary {
  display: flex;
/* border: #181818 solid; */
justify-content: center;
margin-bottom: 113px;
}
/* contactus container starts */

.contactus-container {
  /* display: flex; */
  /* justify-content: space-between; */
  height: 780px;
  background-color: rgb(255, 248, 243);
}
.inside-container {
  display: flex;
  /* border: #ff0000 solid; */
justify-content: center;
gap: 100px;
height: 500px;

}
.contact1 {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  /* border: #fd6e0a solid; */
  /* padding: auto 300px auto 230px; */
  /* margin: 130px 800px auto 230px; */
}

.contact1 h2 {
  font-size: 35px;
font-weight: 700;
color: #181818;
}
.contact2 h2 {
  font-size: 35px;
font-weight: 700;
color: #181818;
}

.contact1 p {
  font-size: 16px;
font-weight: 400;
line-height: 28px;
color: #757575;
}
.icon-box {
  display: flex;
  gap: 25px;
}

.contact2 {
  display: flex;
  margin-top: 130px;
  flex-direction: column;
  /* border: #181818 solid; */

}

.contact2 input {
  display: block;
  width: 461px;
height: 64px;
border-radius: 5px;
margin-bottom: 24px;
font-size: 16px;
font-weight: 400;
background-color: white;
}
.contact2 textarea {
  font-size: 16px;
font-weight: 400;
  width: 461px;
  height: 180px;
}

.lastbutton {
  display: block;
  margin-top: 24px;
}